* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    display: flex;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 36px;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding: 4px 52px;
    margin-right: 20px;
    list-style: none;
    margin-left: 52px;
}

a {
    color: #000;
    text-decoration: none;
}

.title {
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

.text-header {
    display: flex;
    justify-content: left;
    margin-left: -1180px;
    font-family: Rochester;
    font-size: 28px;
    color: white;
}

.price-header {
    display: flex;
    justify-content: right;
    margin-right: -1180px;
}

.element-header {
    display: inline-flex;
    height: 72px;
    padding: 16px 52px;
    flex-direction: column;
    gap: 10px;
    background: #6D91DC;
    width: 1500px;
    color: white;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header-text {
    position: relative;
    padding-bottom: 20px;
    padding-top: 32px;
    margin-left: 52px;
}

.header-text::after {
    content: "";
    width: 1500px;
    height: 1px;
    bottom: 0;
    background-color: gray;
    position: absolute;
    left: 0;
}

.wrapper {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    background: var(--beige, #EEEEEF);
    height: 1608px;
    margin-top: -40px;
}

.box_left {
    display: flex;
    justify-content: space-around;
    padding-left: 162px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    gap: 16px;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delivery {
    display: flex;
    width: 416px;
    height: 104px;
    padding: 10px;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: white;
    outline: none;
}

.gray-text {
    align-self: stretch;
    color: #8E8E8E;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.date {
    display: flex;
    gap: 50px;
    margin-top: 34px;
}

.first-variable {
    display: flex;
    padding-top: 24px;
    padding-bottom: 16px;
}

.variable {
    display: flex;
    margin-bottom: 16px;
}

.answer {
    margin-left: 8px;
}

.top {
    margin-top: 32px;
}

.input {
    display: flex;
    width: 416px;
    padding: 10px;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
}

.menu-right {
    display: inline-flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 4px;
    background: #F5F5F5;
    height: 456px;
    margin-top: 20px;
    margin-left: 700px;
    margin-top: -1300px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.text_for_image {
    margin-left: 24px;
}

.price-red {
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-left: 24px;
}

.rectangle {
    height: 1px;
    align-self: stretch;
    background: #A8A8A8;
    margin-top: 8px;
    margin-bottom: 8px;
}

.number {
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.input-container_2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.text_for_agree {
    margin-left: 8px;
}

.button {
    display: flex;
    gap: 100px;
}

.submit {
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #3D76BA;
}

.reset {
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #DEDEDE;
}